.THIS .uiInputDate .datePicker-openIcon {
    position: absolute;
    left: 95%;
    top: 55%;
}
.THIS div.wrapper{
    margin: 20px !important;
    border: 1px solid #CCC !important;
    border-radius: 5px !important;
}