.THIS .cp-summary-item{
border:2px solid #d8d6d5;
    border-radius:1px;
    background-color: white;
    min-height:100px;
    
}

/*.THIS .cp-summary-item{
    border:2px solid #d8d6d5;
    border-radius:1px;
    background-color:white;
    min-height:100px;
}

*/