.THIS {
    margin-left:-10px;
    display:flex;
    justify-content:center;
    margin-top:-20px;
}

.THIS .return-home{
    border:0;
    display:flex;
    justify-content:center;
}

.THIS .header-text{
    padding:10px;
}